<h1>Vista Dinámica - Lista de Productos en Tiempo Real</h1>
<ul id="productList"></ul>

<!-- Formulario para crear, actualizar y eliminar productos -->
<form id="productForm">
    <input type="text" id="productName" placeholder="Nombre del Producto" required>
    <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>